body {
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: white;
  text-align: center;
  padding: 20px;
}

.box {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  border: none;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background: #238636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
}